<div
  class="vw-100 vh-100 bg-gray-light d-flex justify-content-center align-items-center"
  id="container_register_theme"
>
  <div class="bg-light rounded shadow p-5">
    <h1 class="text-center text-blue-king fw-bold display-5">Registrar Pregunta</h1>
    <form (ngSubmit)="onSubmit()" #questionForm="ngForm" method="post">
      <!-- Input number document -->
      <div class="mb-3 mt-5">
        <label for="theme" class="fs-5 fw-bold my-2">desccripción pregunta</label>
        <textarea
          type="text"
          class="form-control"
          id="theme"
          placeholder="Digite el nombre del tema"
          [(ngModel)]="question.statement"
          name="theme"
          required
          #theme="ngModel"
        >
        </textarea>
        <div
          class="text-danger"
          *ngIf="theme.invalid && (theme.dirty || theme.touched)"
        >
          <div *ngIf="theme.errors?.['required']">El tema es obligatorio</div>
        </div>
      </div>
      <button
        class="btn btn-blue-king w-100 fw-bold rounded shadow-sm my-5 fs-5 py-2"
        id="btnLogin"
        [disabled]="questionForm.invalid"
      >
        Crear Pregunta
      </button>
    </form>
    <a routerLink="/dashboard" class="text-center fw-bold">Volver atras</a>
  </div>
</div>
