<div class="container-forgot">
    <div class="container-form">
      <h4>Digite Su Nueva Contraseña</h4>
  
      <form (ngSubmit)="updatePassword()">
        <input
          type="password"
          class="form-control mt-3"
          id="password"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Digite su nueva contraseña"
          [(ngModel)]="password"
        />
        <button type="submit" class="btn btn-blue-king my-4 w-100 fw-bold">
          Enviar
        </button>
      </form>
      <div class="alert alert-blue-king fw-bold" *ngIf="sended">
        <p>
          Se le redireccionará al login cuando se haya cambiado la contraseña
        </p>
      </div>
    </div>
  </div>
  