<section class="vh-100 vw-100 row container_login">
  <div class="col-md-5 d-none d-md-block">
    <img
      src="../../assets/img/imageLogin.jpg"
      class="w-100 h-100"
    />
  </div>
  <div
    class="col-md-7 d-flex justify-content-center align-items-center flex-column"
  >
    <form class="w-75" id="formLogin" #employeeForm="ngForm">
      <div class="w-100 d-flex justify-content-end align-items-center">
        <button
          class="nav-link fw-bold bg-transparent border-0 mb-3"
          id="icon_mode"
          (click)="toggleDarkMode()"
          [(ngModel)]="buttonMode"
          [innerHTML]="!isDark ? iconMoon : iconSun"
        ></button>
        <div
          id="flags"
          class="d-flex justify-content-center align-items-center"
        >
          <p class="nav-link" (click)="changeLanguage('es')">
            <img src="../../assets/img/españa.png" alt="españa" width="20" />
          </p>
          <p class="nav-link" (click)="changeLanguage('en')">
            <img
              src="../../assets/img/reino_unido.png"
              alt="reino unido"
              width="20"
            />
          </p>
          <p class="nav-link" (click)="changeLanguage('fr')">
            <img src="../../assets/img/frances.png" alt="francia" width="20" />
          </p>
        </div>
      </div>
      <h1 class="display-4 text-center fw-bold text-blue-king">
        {{ "title_login" | translate }}
      </h1>

      <div class="mb-3">
        <label for="email" class="fw-bold fs-4 my-2">
          {{ "label_email" | translate }}
        </label>
        <div class="position-relative">
          <input
            type="email"
            class="form-control fs-5 bg-transparent"
            placeholder="user@gmail.com"
            [(ngModel)]="user.email"

            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            required
            #email="ngModel"
          />
          <span
            class="text-danger fw-semibold position-absolute top-0 h-100 end-0 bottom-0"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            <div *ngIf="email.errors?.['required']">
              <img src="../../assets/icons-template/icons/close.svg" alt="" width="40">
            </div>
            <div *ngIf="email.errors?.['pattern']">
              <img src="../../assets/icons-template/icons/close.svg" alt="" width="40">
            </div>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="fw-bold fs-4 my-2">
          {{ "label_password" | translate }}
        </label>
        <div class="position-relative">
          <input
            type="password"
            class="form-control fs-5 bg-transparent"
            id="password"
            placeholder="1234567890"
            [(ngModel)]="user.password"
            name="password"
            required
            #password="ngModel"
            minlength="8"
          />
          <span
            class="text-danger fw-semibold position-absolute top-0 h-100 end-0 bottom-0"
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
          <div *ngIf="password.errors?.['required']">
            <img src="../../assets/icons-template/icons/close.svg" alt="" width="40">
          </div>
          <div *ngIf="password.errors?.['minlength']">
            <img src="../../assets/icons-template/icons/close.svg" alt="" width="40">
          </div>
        </span>
      </div>
      <div class="text-danger" *ngIf="password.errors?.['minlength']">
        {{ "error_password" | translate }}
      </div>
      </div>

      <button
        class="btn btn-blue-king w-100 fw-bold rounded shadow-sm my-5 fs-5 py-2"
        id="btnLogin"
        [disabled]="employeeForm.invalid"
        (click)="validateUser()"
      >
        <a class="text-decoration-none text-light px-5">
          {{ "login_button" | translate }}
        </a>
      </button>
    </form>
    <p class="text-center">
      <span class="text-center mt-5">
        {{ "text_login_1" | translate }}
      </span>

      <span
        ><a routerLink="/home" class="text-blue-king fw-bold">
          {{ "text_redirect" | translate }}
        </a></span
      ><br />

      <span>
        {{ "text_login_2" | translate }}
      </span>

      <span
        ><a routerLink="/registerUser" class="text-blue-king fw-bold">
          {{ "text_redirect" | translate }}
        </a></span
      >
    </p>
  </div>
</section>
