<header class="header-dash" id="header">
  <div class="header_toggle">
    <i class="fa-solid fa-bars" id="header-toggle" hidden></i>
  </div>
  {{ emailSession }}
  <div class="header_img">
    <img src="../../assets/img/user_image.svg" alt="" />
  </div>
</header>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="/admin" class="nav_logo">
        <img src="../../assets/logos/icon_black.png" alt="icon" width="20" class="nav_logo-icon">
        <span class="nav_logo-name">
          <img src="../../assets/logos/logo.png" alt="logo" width="60">
        </span>
      </a>
      <div class="nav_list">
        <a routerLink="/admin" class="nav_link">
          <i class="fa-solid fa-users nav_icon"></i>
          <span class="nav_name">Usuarios</span>
        </a>
        <a routerLink="/admin/themes" class="nav_link">
          <i class="fa-solid fa-book nav_icon"></i>
          <span class="nav_name">Temas</span>
        </a>
        <a routerLink="/admin/questions" class="nav_link">
          <i class="fa-solid fa-question nav_icon"></i>
          <span class="nav_name">Preguntas</span>
        </a>
        <a href="/admin/statistics" class="nav_link">
          <i class="fa-sharp fa-solid fa-chart-simple nav_icon"></i>
          <span class="nav_name">Estadísticas</span>
        </a>
      </div>
    </div>
    <a (click)="logout()" class="nav_link">
      <i class="fa-solid fa-arrow-right-from-bracket nav_icon"></i>
      <span class="nav_name">Cerrar Sesión</span>
    </a>
  </nav>
</div>
