<div class="vw-100 vh-100">
  <div class="container py-5">
    <div class="text-end fw-bold ">
      {{ email }}
    </div>
    <!-- Container Question -->
    <div class="rounded mt-5 col-6  m-auto border">
      <!-- Header question -->
      <div class="d-flex justify-content-between bg-blue-king text-light">
        <p class="fw-bold mt-3 ms-2">
          Administrador
        </p>
        <div class="me-2">
          <span>12-05-2022 / 25-05-2022</span>
          <p class="text-center fw-bold">Ambiental</p>
        </div>
      </div>
      <!-- Content Question -->
      <div class="pt-3 px-3">
        como podemos invertir el dinero para ayudar al medio ambiente
      </div>
      <form>
        <textarea name="response" id="response" class="form-control mt-5"></textarea>
        <button class="btn btn-dark text-light mt-3 fw-bold">Guardar Respuesta</button>
      </form>
      <div class="bg-light border border-blue-king m-2 rounded shadow">
        <div class="text-end fw-bold bg-blue-king text-light p-2 rounded">
          {{ email }}
        </div>
        <div class="text-center fw-bold  py-2">
          pienso que no se nada
        </div>
      </div>
    </div>
  </div>
</div>
