<app-dashboard-admin></app-dashboard-admin>
<!--Container Main start-->
<div class="vh-100 bg-light d-flex align-items-center py-3">
  <div class="container-table">
    <h1>Usuario: {{user.name}}</h1>
    <hr>
    <p><strong>Identificador: </strong>{{user.iduser}}</p>
    <p><strong>Número de documento: </strong>{{user.numberdocument}}</p>
    <p><strong>Nombre: </strong>{{user.name}}</p>
    <p><strong>Apellido: </strong>{{user.lastname}}</p>
    <p><strong>Dirección: </strong>{{user.address}}</p>
    <p><strong>Correo electrónico: </strong>{{user.email}}</p>
    <p><strong>Número de celular: </strong>{{user.numberphone}}</p>
    <p><strong>Teléfono fijo: </strong>{{user.landline}}</p>
    <p><strong>Fecha de nacimiento: </strong>{{user.datebirth}}</p>
    <p><strong>Municipio: </strong>{{user.municipality}}</p>
    <p><strong>Estrato: </strong>{{user.stratum}}</p>
    <p><strong>Nivel academico: </strong>{{user.academiclevel}}</p>
    <p><strong>Sexo: </strong>{{user.sex}}</p>
    <p><strong>Afiliación del regimen: </strong>{{user.affiliationregime}}</p>
    <p><strong>Condición de discapacidad: </strong>{{user.disabilitycondition}}</p>
    <p><strong>Etnía: </strong>{{user.ethnicity}}</p>
    <p><strong>Acceso a tecnología: </strong>{{user.technologicalaccess}}</p>
  </div>
</div>
