<app-dashboard-admin></app-dashboard-admin>
<!--Container Main start-->
<div class="vh-100 bg-light d-flex align-items-center py-3">
  <div class="container-table p-5">
    <div class="alert alert-blue-king m-2" role="alert" *ngIf="users.length == 0">
      Aún no hay usuarios registrados
    </div>
    <div class="w-100 d-flex">
      <button class="btn btn-blue-dark my-3 fw-bold" (click)="createReportPDF()" > <i class="fa-solid fa-file"></i> Generar Reporte</button>
    </div>
    <table class="table" datatable [dtOptions]="dtOptions">
      <thead class="text-center bg-blue-dark text-light fw-bold">
        <tr>
          <th class="text-center">id</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Apellido</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let user of users">
          <td>{{ user.iduser }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-sm btn-blue-king rounded mx-1" [routerLink]="['/admin/user',user.iduser]">
              Ver Más
            </button>
            <button class="btn btn-sm btn-blue-dark rounded" (click)="deleteUser(user.iduser)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
