<div class="container_dashboard">
  <div
    class="header text-dark light-bg py-2 px-5 d-flex justify-content-between align-items-center"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Skype_logo_%28fully_transparent%29.svg/2560px-Skype_logo_%28fully_transparent%29.svg.png"
      alt="logo"
      width="70"
    />
    <div class="d-flex justify-content-between align-items-center">
      <p class="fs-5 fw-bold px-2 mt-3" id="user_dashboard">
        John Gualteros
      </p>
      <button
          class="nav-link fw-bold bg-transparent border-0 mx-3"
          id="icon_mode"
          (click)="toggleDarkMode()"
          [(ngModel)]="buttonMode"
          [innerHTML]="!isDark ? iconMoon : iconSun"
        ></button>
    </div>
  </div>
  <div class="container_sections_dashboard">
    <!-- Sidebar -->
    <div
      class="sidebar_dashboard light-bg d-flex flex-column justify-content-evenly align-items-center"
    >
      <a
        href="../public/cards2.html"
        class="fw-bold text-decoration-none text_mode_light"
        id="icon_sidebar"
      >
        <img src="../../assets/icons-template/icons/bxs-user-circle.svg"
        width="30" alt="user-photo" />
      </a>
      <a
        href="../public/dashboard.html"
        class="fw-bold text-decoration-none text_mode_light"
        id="icon_sidebar"
      >
        <img
          src="../../assets/icons-template/icons/gear.svg"
          width="30"
          alt="settings-icon"
        />
      </a>
      <a
        href="../public/index.html"
        class="fw-bold text-decoration-none text_mode_light"
        id="icon_sidebar"
      >
        <img
          src="../../assets/icons-template/icons/door-open.svg"
          width="30"
          alt="logout-icon"
        />
      </a>
    </div>
    <!-- Container content dashboard -->
    <div class="content_dashboard">
      <div
        class="section_content_dashboard estadistic d-flex justify-content-center align-items-center"
        id="container_estadistic"
      >
        <h2 class="fw-bold text-center">Número de preguntas en total hechas: 48</h2>
      </div>
      <div
        class="section_content_dashboard estadistic d-flex justify-content-center align-items-center"
        id="container_estadistic"
      >
        <h2 class="fw-bold text-center">Número de respuestas en total: 16</h2>
      </div>

      <div
        class="section_content_dashboard table-responsive container_table"
      >
        <table class="table" id="datat">
          <thead>
            <tr>
              <th class="text-center" *ngFor="let title of tableUsersHeaders">{{ title }}</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let user of users">
              <td>{{user.numberdocument}}</td>
              <td>{{user.name}} - {{user.lastname}}</td>
              <td>{{user.address}}</td>
              <td>{{user.email}}</td>
              <td>{{user.numberphone}} - {{user.landline}}</td>
              <td>{{user.datebirth}}</td>
              <td>{{user.municipality}}</td>
              <td>{{user.stratum}}</td>
              <td>{{user.academiclevel}}</td>
              <td>{{user.sex}}</td>
              <td>{{user.affiliationregime}}</td>
              <td>{{user.disabilitycondition}}</td>
              <td>{{user.ethnicity}}</td>
              <td>{{user.technologicalaccess}}</td>
              <td>
                <button
                  href="#"
                  class="p-2 border-0 rounded text-dark bg-teal"
                >
                  <img
                    src="../../assets/icons-template/icons/pencil-fill.svg"
                    alt="edit-icon"
                    width="20"
                  />
                </button>
                <button
                  href="#"
                  class="p-2 border-0 rounded text-dark bg-danger"
                >
                  <img
                    src="../../assets/icons-template/icons/trash.svg"
                    alt="trash-icon"
                    width="20"
                  />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
