<div class="container-forgot">
  <div class="container-form">
    <h4>Digite Su Email para restablecer la contraseña</h4>

    <form (ngSubmit)="sendEmail()">
      <input
        type="email"
        class="form-control mt-3"
        id="email"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Digite su correo electronico"
        [(ngModel)]="email"
      />
      <button type="submit" class="btn btn-blue-king my-4 w-100 fw-bold">
        Enviar
      </button>
    </form>
    <div class="alert alert-blue-king fw-bold" *ngIf="sended">
      <p>
        Se le envío un correo electrónico con instrucciones para restablecer su
        contraseña.
      </p>
    </div>
  </div>
</div>
